---
const {title, description, url, image} = Astro.props;
---
<a class="project" href={url}>
    <div class="project__title-wrapper">
        <h3 class="project__title-wrapper__title">{title}</h3>
    </div>
    <div class="project__image-wrapper">
        <div class="project__image-wrapper__container">
            <img class="project__image-wrapper__container__image" src={image} alt={title}/>
            <div class="project__image-wrapper__container__shadow"></div>
        </div>
    </div>
    <p class="project__description">{description}</p>
    <hr/>
</a>
<style lang="scss">
  .project {
    text-decoration: none;
    transition: 0.2s ease;
    position: relative;

    &:hover {

      .project__image-wrapper__container__image {
        border-radius: var(--space-l);
      }

      .project__image-wrapper__container__shadow {
        border-radius: var(--space-l);
        box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.6), inset 0 0 2px rgba(255, 255, 255, 0.8), inset 0 0 1px #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .project__title-wrapper__title:after {
        transform: translate(4px, -4px);
        opacity: 1;
      }
    }

    &__title-wrapper {
      width: 100%;
      display: flex;
      align-items: baseline;
      gap: var(--space-2xs);

      @media (min-width: 768px) {
        flex-direction: row;
      }

      &__title {
        color: var(--color-primary);
        line-height: 1;

        @media(min-width: 768px) {
          &:after {
            position: absolute;
            content: '↗';
            font-size: var(--step-1);
            color: var(--color-primary);
            transition: all 0.2s var(--easing);
            transform: translate(0, 0);
            opacity: 0;
          }
        }
      }

      &__date {
        margin: 0;
        color: var(--color-secondary);
        flex-shrink: 0;
      }
    }

    &__image-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: var(--space-s);

      &__container {
        position: relative;

        &__image {
          max-height: 300px;
          transition: all 0.2s var(--easing);
        }

        &__shadow {
          transition: all 0.2s var(--easing);
        }
      }

    }

    &__description {
      padding-top: var(--space-s);
      margin: 0;
      color: var(--color-secondary);
    }

    hr {
      margin: var(--space-3xs) 0 0;
    }
  }
</style>