---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/reset.css'
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image='/og.png'  } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/DMSans-Light.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/DMSans-SemiBold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/PlayfairDisplay-Italic.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/SpaceMono-Regular.ttf" as="font" type="font/ttf" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<script defer data-domain="devslovecoffee.com" data-api="/plausible/api/event" src="/plausible/js/script.js"></script>

<style lang="scss">
    /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,3840,18,1.618,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=xs,2xl,2xl,24 */
    /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,3840,18,1.618,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=xs,2xl,2xl,24 */
    @use 'node_modules/utopia-core-scss/src/utopia' as utopia;

    :root {
        @include utopia.generateTypeScale((
                "minWidth": 320,
                "maxWidth": 3840,
                "minFontSize": 16,
                "maxFontSize": 18,
                "minTypeScale": 1.2,
                "maxTypeScale": 1.618,
                "positiveSteps": 3,
                "negativeSteps": 2,
                "prefix": "step-",
        ));

        @include utopia.generateSpaceScale((
                "minWidth": 320,
                "maxWidth": 3840,
                "minSize": 16,
                "maxSize": 18,
                "positiveSteps": (1.5, 2, 3, 4, 6),
                "negativeSteps": (0.75, 0.5, 0.25),
                "customSizes": ("s-l"),
                "prefix": "space-",
        ));
  }
</style>
