---
const { title, description, url, image } = Astro.props;
---
<a class="project" href={url}>
    <div class="project__title-wrapper">
        <h3 class="project__title-wrapper__title">{title}</h3>
    </div>
    <div class="project__image-wrapper">
        <img class="project__image-wrapper__image" src={image} alt={title} />
    </div>
    <p class="project__description">{description}</p>
    <hr />
</a>
<style lang="scss">
  .project {
    text-decoration: none;
    transition: 0.2s ease;

    &:hover {
      .project__image-wrapper__image {
        border-radius: var(--space-l);
      }

      .project__title-wrapper__title:after {
        transform: translate(4px, -4px);
        opacity: 1;
      }
    }

    &__title-wrapper {
      width: 100%;
      display: flex;
      align-items: baseline;
      gap: var(--space-2xs);

      @media (min-width: 768px) {
        flex-direction: row;
      }

      &__title {
        color: var(--color-primary);
        line-height: 1;

        @media(min-width: 768px) {
          &:after {
            position: absolute;
            content: '↗';
            font-size: var(--step-1);
            color: var(--color-primary);
            transition: all 0.2s cubic-bezier(.47,-0.01,1,1.26);
            transform: translate(0, 0);
            opacity: 0;
          }
        }
      }

      &__date {
        margin: 0;
        color: var(--color-secondary);
        flex-shrink: 0;
      }
    }

    &__image-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: var(--space-s);

      &__image {
        transition: all 0.2s cubic-bezier(.72,-0.01,.86,1.36);
        max-height: 300px;
      }
    }

    &__description {
      padding-top: var(--space-s);
      margin: 0;
      color: var(--color-secondary);
    }

    hr {
      margin: var(--space-3xs) 0 0;
    }
  }
</style>